.App {
    background-color: whitesmoke;
}

.navbar {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-items: center;
    background-color: #407EE2;
}

.header {
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    background-color: #407EE2;
}

form {
    color: black;
    padding: 20px 150px;
    text-align: center;
    border-radius: 30px;
    background-color: white;
}

.auth-text {
    color: rgb(129, 127, 127);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    height: 1000px;
}

.form-inputs {
    margin: 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin: 3vh;
    font-family: sans-serif;
    font-weight: bolder;
    cursor: default;
}

h3 {
    margin: 2vh;
    color: white;
    text-decoration: none;
}

h3:hover {
    cursor: pointer;
    color: #245CB7;
    border-radius: 3px;
    transition-delay: .05s;
    -webkit-transition-delay: .05s;
}

.background-img {
    height: 800px;
    width: auto;
    display: flex;
    display: flex;
    justify-content: left;
    align-items: center;
    background: url('../styling/logo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    animation: imgFade .5s forwards 0s;
}

.welcome {
    height: fit-content;
    color: white;
    padding-left: 200px;
    animation: txtFade .5s forwards 0s;
}

.welcome-text {
    font-size: 70px;
    font-weight: 300;
    cursor: default;
}

.welcome-desc {
    font-size: large;
    font-weight: 300;
    cursor: default;
}

@keyframes imgFade {
    from {
        opacity: 0;
        transform: translate(0, 80px);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes txtFade {
    from {
        opacity: 0;
        transform: translate(0, -200px);
    }
    to {
        opacity: 1;
        transform-box: translate(0,0);
    }
}